:root {
  --main-color: #ffffff;
  --main-text-color: #212121;
  --main-text-logo-color: #2196f3;
  --header-text-logo-color: #212121;
  --nav-text-logo-color: #212121;
  --text-focus-color: #2196f3;
  --buttons-color: #2196f3;
  --contacts-text-color: #757575;
  --hero-background-color: #2f303a;
  --advantages-text-color: #757575;
  --list-members-text-color: #757575;
  --portfolio-text-color: #757575;
  --team-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --footer-text-logo-color: #ffffff;
  --portfolio-buttons-color: #212121;
  --portfolio-buttons-background-color: #f5f4fa;
  --portfolio-text-color: #757575;
  --portfolio-h-text-color: #212121;
  --font-size-medium: 500;
  --font-size-bold: 700;
  --font-size-black: 900;
  --button-border-radius: 4px;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
  background-color: var(--main-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}
.buttons-header,
.portfolio-header {
  display: none;
}
/* no dots on li */
.contacts,
.list {
  list-style: none;
}
.btn {
  cursor: pointer;
}
/* header styles */
/* text logo style */
.text-logo {
  font-family: 'Raleway', sans-serif;
  color: var(--header-text-logo-color);
  font-size: 26px;
  font-weight: var(--font-size-bold);
  text-decoration: none;
  line-height: 1.2em;
}
.text-color {
  color: var(--main-text-logo-color);
}
/* navigation and contact styles */
.nav a {
  color: var(--nav-text-logo-color);
  font-weight: var(--font-size-medium);
  text-decoration: none;
  line-height: 1.142em;
  letter-spacing: 0.02em;
}
.contacts a {
  color: var(--contacts-text-color);
  font-weight: var(--font-size-medium);
  text-decoration: none;
  line-height: 1.142em;
  letter-spacing: 0.02em;
}
.contacts a:focus,
.contacts a:hover,
.nav a:focus,
.nav a:hover {
  color: var(--text-focus-color);
}
.current a {
  color: var(--text-focus-color);
}
/* hero section */
.hero {
  color: var(--main-color);
  background-color: var(--hero-background-color);
}
.hero-header {
  font-size: 44px;
  font-weight: var(--font-size-black);
  text-align: center;
  letter-spacing: 0.06em;
  line-height: 1.363em;
  display: block;
  text-transform: uppercase;
}
.hero .btn {
  font-family: inherit;
  font-size: 16px;
  font-weight: var(--font-size-bold);
  color: var(--main-color);
  background-color: var(--buttons-color);
  text-align: center;
  letter-spacing: 0.06em;
  border-style: none;
  border-radius: var(--button-border-radius);
  line-height: 1.87em;
}

/* advantages section */
.advantages-header {
  display: none;
}
.advantages-header-list {
  font-weight: var(--font-size-bold);
  /* letter-spacing: 0.03em; */
  font-size: 14px;
  line-height: 1.14em;
}
.advantages-paragraph {
  font-weight: var(--font-size-regular);
  color: var(--advantages-text-color);
  line-height: 1.7em;
  /* letter-spacing: 0.03em; */
}
/* examples section */
.examples-header {
  font-size: 36px;
  font-weight: var(--font-size-bold);
  text-align: center;
  /* letter-spacing: 0.03em; */
  line-height: 1.16em;
}
/* team members section */
.team {
  background-color: var(--team-background-color);
}
.team-list {
  background-color: var(--main-color);
}
.team-header {
  font-size: 36px;
  font-weight: var(--font-size-bold);
  text-align: center;
  /* letter-spacing: 0.03em; */
  line-height: 1.16em;
}
.team-list-header {
  font-weight: 500;
  font-size: 16px;
  font-weight: var(--font-size-medium);
  /* letter-spacing: 0.03em; */
  line-height: 1.19em;
}
.team-list-paragraph {
  font-size: 16px;
  font-weight: var(--font-size-regular);
  color: var(--list-members-text-color);
  /* letter-spacing: 0.03em; */
  line-height: 1.19em;
}
/* footer section */
.text-logo-footer {
  font-family: 'Raleway', sans-serif;
  color: var(--footer-text-logo-color);
  font-size: 26px;
  font-weight: var(--font-size-bold);
  text-decoration: none;
  line-height: 1.19em;
}
.text-color-footer- {
  color: var(--main-text-logo-color);
}
.footer {
  background-color: var(--footer-background-color);
}
.footer-address a {
  font-style: normal;
  font-weight: var(--font-size-regular);
  line-height: 1.7em;
  /* letter-spacing: 0.03em; */
  color: var(--main-color);
  text-decoration: none;
}
.footer-address a[href^='mailto'],
.footer-address a[href^='tel'] {
  opacity: 60%;
}

/* Portfolio page */
/* Section Buttons */

.section-buttons .btn {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  color: var(--portfolio-buttons-color);
  background-color: var(--portfolio-buttons-background-color);
  text-align: center;
  /* letter-spacing: 0.03em; */
  line-height: 1.63em;
  border-style: none;
  border-radius: var(--button-border-radius);
}
.section-buttons .btn:hover,
.section-buttons .btn:focus {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  color: var(--main-color);
  background-color: var(--text-focus-color);
  text-align: center;
  /* letter-spacing: 0.03em; */
  line-height: 1.63em;
  display: block;
  border-style: none;
  border-radius: var(--button-border-radius);
}
/* portfolio section */

.portfolio-header-list {
  font-size: 18px;
  font-weight: 700;
  color: var(--portfolio-h-text-color);
  letter-spacing: 0.06em;
  line-height: 2em;
}
.portfolio-paragraph-list {
  color: var(--portfolio-text-color);
  font-size: 16px;
  /* letter-spacing: 0.03em; */
  line-height: 1.88em;
}
.portfolio a {
  text-decoration: none;
}
